.pages-component{
    background: #5ba1bd;
    background: linear-gradient(90deg, rgba(91, 161, 189, 1) 0%, rgba(173, 81, 147, 1) 50%, rgba(144, 66, 153, 1) 100%);
	font-family: sans-serif;
	font-weight: 100;
    height: 100%;
}